* {
    box-sizing: border-box; 
}
body {
    font-family: system-ui;
    padding: 8px; 
}
 h1, 
 h2 {
    font-family: Helvetica; 
 }

p {
    font-family: Helvetica; 
}

span {
    background-color: lightgray; 
    padding: 2px; 
    text-transform: uppercase; 
    letter-spacing: 1.5px;
    border-radius: 4px; 
    font-size: 20px;
}

#QIP {
    background-color: #FFCCCB; 
    text-align: center; 
    padding: 2px; 
    text-transform: uppercase; 
    letter-spacing: 1.5px; 
    border-radius: 4px; 
    font-size: 30px; 
}